<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/css/blog_list.css">
</head>
<body>
    <div class="welcome-banner">
        {{ welcome }}
    </div>

    <div class="blog-container">
        <h2><i class="fas fa-inbox"></i>Post list</h2>
        {% for post in posts %}
        <article class="blog-post">
            <h2 class="blog-title">{{ post.blog_title }}</h2>
            <div class="blog-meta">
                <span><i class="fas fa-user"></i>sender: {{ post.username }}</span>
                <span><i class="far fa-clock"></i>time: {{ post.time }}</span>
            </div>
            <div class="blog-content">
                {{ post.blog_content | truncate(200) }}
            </div>
            <div class="blog-image">
                <img src="/css/uploads/{{ post.image }}" alt="Post Image">
            </div>
            <form action="/read_blog" method="get">
                <input type="hidden" name="id" id="id" value="{{ post.id }}">
                <input type="hidden" name="blog_title" id="blog_title" value="{{  post.blog_title }}">
                <button type="submit" class="read-more-btn">Read More</button>
            </form>
        </article>
        {% endfor %}
    </div>

    <div class="action-buttons">
        <form action="/blogging" method="get" style="display: inline;">
            <button type="submit" class="new-post-btn">New Post</button>
        </form>
        <form action="/logout" method="get" style="display: inline;">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
</body>
</html>