<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
     <link rel="stylesheet" href="/css/blog_list.css">
</head>
<body>
     <div id="gg"></div>
     <div class="blog-container">
        <div class="blog-header">
            <h1><i class="fas fa-envelope"></i>{{welcome}}</h1>
        
    <div class="blog-list">
        <h2><i class="fas fa-inbox"></i>Post list</h2>
        {% for post in posts %}
        <div class="blog-item">
            <div class="blog-meta">
                <span><i class="fas fa-user"></i>sender: {{ post.username }}</span>
                <span><i class="far fa-clock"></i>time: {{ post.time }}</span>
            </div>
             <div class="blog-subject">
              <form action="/read_blog" method="POST" class="blog-form">
                   <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="submit-btn">
                      <i class="fas fa-paper-plane"></i>title: {{ post.blog_title }}
                    </button>
              </form> 

             </div>
        </div>
       
        {% endfor %}
    </div> 


       <div class="blog-poster-container">
            <div class="blog-poster">
            <a href="/blogging"><h1><i class="fas fa-envelope"></i>post blog</h1></a>
            </div>
      </div>

      <div class="logout-container">
            <div class="logout">
            <a href="/logout"><h1><i class="fas fa-envelope"></i>Logout</h1></a>
            </div>
      </div>


        




</body>
</html>