<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/single_post.css">
</head>
<body>
    <div id="gg"></div>
    {% for post in posts %}
    <div class="post-container">
        <div class="post-header">
            <h1 class="post-title">{{ post.blog_title }}</h1>
            <p class="post-meta">By {{ post.username }} on {{ post.time }}</p>
        </div>
        <div class="post-content">
            <p>{{ post.blog_content }}</p>
        </div>
        <div class="blog-image">
            <img src="/css/uploads/{{ post.image }}" alt="Post Image">
        </div>
    </div>
    {% endfor %}
</body>
</html>